body {
  padding: 0;
  font-size: 10px;
  font-family: 'Inter', serif;
  background-color: #edf2ec;
}

.scroll__disabled {
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

h1 a {
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.nav__item {
  padding-right: 46px;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #010201;
}

.nav__link.active {
  color: #e06733;
}

.nav__link:hover {
  color: #e06733;
  transition: 0.3s;
}

.intro {
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
}

.intro__info {
  display: flex;
  flex-direction: column;
  max-width: 549px;
  margin-bottom: 93px;
}

.info__title {
  padding-top: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.info__title span {
  color: #499a18;
}

.info__descr {
  padding-top: 46px;
  max-width: 525px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  word-spacing: 4px;
}

.info__btn {
  padding-top: 47px;
}

.info__btn button {
  width: 158px;
  height: 44px;
  text-transform: uppercase;
  border: 2px solid #e06733;
  border-radius: 10px;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
}

.section__about {
  background-color: #fff;
}

.about {
  display: flex;
  align-items: center;
}

.about__descr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.descr__title {
  width: 463px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 52px;
  color: #e06733;
  margin-top: 158px;
}

.descr__title span {
  color: #499a18;
}

.descr__text {
  width: 605px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #636060;
  margin-top: 40px;
}

.about__img {
  margin-left: 152px;
}
